# build artifacts
/*.sketchplugin/

# purs
bower_components
.pulp-cache
output
generated-docs
.psc-package
.psc*
.purs*
.psa*

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store

# WebStorm
.idea

# sketch
# sketch-assets
/sketch-assets/

# lock
package-lock.json
yarn.lock